body{
    font-family: 'Roboto', sans-serif;
}
header nav ul {
    list-style: none; /*untuk menghilangkan titik depan */
    padding: 0;
}
.nav-link{
    color: red;
    text-decoration: none;
}
header ul li {
    display: inline;
}
#second_menu + li{
    background-color: green;
}
/* https://mcd-fe-slides.netlify.app/34 ---catetan */
